<div class="backdrop" data-modal="modal-1">
  <div class="modal">
    <button class="modal-close" type="button" data-modal-close>X</button>
    <h2 class="modal-title">Lorem, ipsum dolor.</h2>
    <p class="modal-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quae,
      dolores accusamus et quaerat dolorem. Incidunt deleniti sapiente optio
      maxime cum hic dolorum iusto aliquid soluta, error sed corrupti fugiat.
    </p>
    <button class="modal-btn" type="submit">GO</button>
  </div>
</div>
