<section class="section slider">
  <div class="container slider-container">
    <h2 class="slider-title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper">
      <ul class="slider-list swiper-wrapper">
        <li class="slider-item swiper-slide">
          <img
            class="slider-item-img"
            src="./img/slider-1.jpg"
            alt="slider"
            width="181"
          />

          <h3 class="slider-item-title">Jon Doe</h3>
          <p class="slider-item-company">Company Inc.</p>
          <p class="slider-item-text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="slider-item swiper-slide">
          <img
            class="slider-item-img"
            src="./img/slider-2.jpg"
            alt="slider"
            width="181"
          />

          <h3 class="slider-item-title">Camila Garcia</h3>
          <p class="slider-item-company">Esselunga Group</p>
          <p class="slider-item-text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="slider-item swiper-slide">
          <img
            class="slider-item-img"
            src="./img/slider-3.jpg"
            alt="slider"
            width="181"
          />
          <h3 class="slider-item-title">Tom Ford</h3>
          <p class="slider-item-company">Saras Group</p>
          <p class="slider-item-text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
        <li class="slider-item swiper-slide">
          <img
            class="slider-item-img"
            src="./img/slider-4.jpg"
            alt="slider"
            width="181"
          />
          <h3 class="slider-item-title">Mark Guerrero</h3>
          <p class="slider-item-company">Benetton Group</p>
          <p class="slider-item-text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </li>
      </ul>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
