@import 'swiper/css/bundle';

.slider {
  background-color: #ebe1d299;
}

.slider-container {
  width: 886px;
}

.slider-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.slider-list {
  text-align: center;
  margin-bottom: 40px;
}

.slider-item-img {
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 20px;
}

.slider-item-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
}

.slider-item-company {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

.slider-item-text {
  font-weight: 500;
  line-height: 1.5;
}
/* ------ */

.swiper-slider {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.swiper-slider .swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
}

.swiper-slider .swiper-pagination-bullet-active {
  background: #06071b;
}
